<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ejs template home [age</title>
</head>
<body>
  <h1>this is a home ejs</h1>
  <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro deserunt laborum repudiandae.</P>
  <button>Hii!</button>
  <button>Hlo!</button>
  <button>Bro!</button>
</body>
</html>